@model DetailsViewModel
@{
    ViewData["Title"] = "Details";
    var id = Model.Date.ToString("dd MMMM yyyy");

    var yestAdr = Math.Round((Convert.ToDouble(Model.Adr) - Convert.ToDouble(Model.yestAdr)) / Convert.ToDouble(Model.yestAdr) * 100, 2);
    var yestRevpar = Math.Round((Convert.ToDouble(Model.RevPar) - Convert.ToDouble(Model.yestRevPar)) / Convert.ToDouble(Model.yestRevPar) * 100, 2);
    var yestOcc = Math.Round((Convert.ToDouble(Model.Occupancy) - Convert.ToDouble(Model.yestOccupancy)), 2);

    var monthAdr = Math.Round((Convert.ToDouble(Model.Adr) - Convert.ToDouble(Model.prevMonthAdr)) / Convert.ToDouble(Model.prevMonthAdr) * 100, 2);
    var monthRevpar = Math.Round((Convert.ToDouble(Model.RevPar) - Convert.ToDouble(Model.prevMonthRevPar)) / Convert.ToDouble(Model.prevMonthRevPar) * 100, 2);
    var monthOcc = Math.Round((Convert.ToDouble(Model.Occupancy) - Convert.ToDouble(Model.prevMonthOccupancy)), 2);

    var yearAdr = Math.Round((Convert.ToDouble(Model.Adr) - Convert.ToDouble(Model.prevYearAdr)) / Convert.ToDouble(Model.prevYearAdr) * 100, 2);
    var yearRevpar = Math.Round((Convert.ToDouble(Model.RevPar) - Convert.ToDouble(Model.prevYearRevPar)) / Convert.ToDouble(Model.prevYearRevPar) * 100, 2);
    var yearOcc = Math.Round((Convert.ToDouble(Model.Occupancy) - Convert.ToDouble(Model.prevYearOccupancy)), 2);
}

<!-- pageheader -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">@ViewData["Title"]</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Body -->
<div class="row">
    <!-- Details -->
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
        <!-- card date -->
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="date-title mb-0">@id</h1>
                    <p>Prediction Anaylsis</p>
                </div>
            </div>
            <div class="card-body border-top">
                <h3 class="profile-title">Revenue Forecast</h3>
                <div class="">
                    <ul class="list-unstyled mb-0">
                        @if (Model.selectedPlan == 1)
                        {
                            <li class="mb-2">ADR: @Model.Adr</li>
                            <li class="mb-2">OCCUPANCY: @Math.Round(Convert.ToDouble(Model.Occupancy), 2)%</li>
                            <li class="mb-2">RevPAR: @Model.RevPar</li>
                        }
                        else if (Model.selectedPlan == 2)
                        {
                            <li class="mb-2">ADR: @Model.defaultAdr</li>
                            <li class="mb-2">OCCUPANCY: @Math.Round(Convert.ToDouble(Model.Occupancy), 2)%</li>
                            <li class="mb-2">RevPAR: @Model.defaultRevpar</li>
                        }
                        else
                        {
                            <li class="mb-2">ADR: @Model.Adr</li>
                            <li class="mb-2">OCCUPANCY: @Math.Round(Convert.ToDouble(Model.Occupancy), 2)%</li>
                            <li class="mb-2">RevPAR: @Model.RevPar</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="card-body border-top">
                <h3 class="profile-title">Distribution Status</h3>
                <div class="">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2">Seasonal Demands: 10%</li>
                        <li class="mb-2">Historical Data: 90%</li>
                        @*<li class="mb-2">Social Media: 10%</li>*@
                    </ul>
                </div>
            </div>
        </div>
        <!-- end card date -->
    </div>
    <!-- end Details -->

    <!-- details data -->
    <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
        <!-- details tabs -->
        <div class="influence-profile-content pills-regular">
            <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-campaign-tab" data-toggle="pill" href="#pills-campaign" role="tab" aria-controls="pills-campaign" aria-selected="true">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-packages-tab" data-toggle="pill" href="#pills-packages" role="tab" aria-controls="pills-packages" aria-selected="false">What-If Analysis</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <!-- details summary tab-->
                <div class="tab-pane fade show active" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="section-block">
                                <h3 class="section-title" style="font-size:20px;">Growth Comparison</h3>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body" style="padding-bottom:0px;">
                                    <h5 class="text-muted">Yesterday</h5>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">ADR: @Model.yestAdr</h5>
                                    </div>
                                    @if (yestAdr >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@yestAdr%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@yestAdr%</span>
                                        </div>
                                    }
                                </div>
                                <div class="card-body" style="padding-bottom:0px;">
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">OCCUPANCY: @Math.Round(Convert.ToDouble(Model.yestOccupancy), 2)%</h5>
                                    </div>
                                    @if (yestOcc >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@yestOcc%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@yestOcc%</span>
                                        </div>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">RevPAR: @Model.yestRevPar</h5>
                                    </div>
                                    @if (yestRevpar >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@yestRevpar%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@yestRevpar%</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body" style="padding-bottom:0px;">
                                    <h5 class="text-muted">Previous Month</h5>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">ADR: @Model.prevMonthAdr</h5>
                                    </div>
                                    @if (monthAdr >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@monthAdr%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@monthAdr%</span>
                                        </div>
                                    }
                                </div>
                                <div class="card-body" style="padding-bottom:0px;">
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">OCCUPANCY: @Model.prevMonthOccupancy%</h5>
                                    </div>
                                    @if (monthOcc >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@monthOcc%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@monthOcc%</span>
                                        </div>

                                    }
                                </div>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">RevPAR: @Model.prevMonthRevPar</h5>
                                    </div>
                                    @if (monthRevpar >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@monthRevpar%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@monthRevpar%</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body" style="padding-bottom:0px;">
                                    <h5 class="text-muted">Previous Year</h5>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">ADR: @Model.prevYearAdr</h5>
                                    </div>
                                    @if (yearAdr >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@yearAdr%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@yearAdr%</span>
                                        </div>
                                    }
                                </div>
                                <div class="card-body" style="padding-bottom:0px;">
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">OCCUPANCY: @Model.prevYearOccupancy%</h5>
                                    </div>
                                    @if (yearOcc >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@yearOcc%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@yearOcc%</span>
                                        </div>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">RevPAR: @Model.prevYearRevPar</h5>
                                    </div>
                                    @if (yearRevpar >= 0)
                                    {
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span>+@yearRevpar%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span>@yearRevpar%</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="section-block">
                                <h3 class="section-title" style="font-size:20px;">Rates Available</h3>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header bg-primary text-center p-3 ">
                                    <h4 class="mb-0 text-white"> Recommended Rate</h4>
                                </div>
                                <div class="card-body text-center">
                                    <h1 class="mb-1">@Model.Adr</h1>
                                    <p>Average Daily Rate</p>
                                </div>
                                <div class="card-body border-top">
                                    <ul class="list-unstyled bullet-check font-14">
                                        <li>Standard Room: @Model.StdRate</li>
                                        <li>Superior Room: @Model.SprRate</li>
                                        <li>Deluxe Room: @Model.DlxRate</li>
                                        <li>Family Room: @Model.FamRate</li>
                                        <li>Suite Room: @Model.SuiteRate</li>
                                    </ul>
                                    @if (Model.selectedPlan == 1)
                                    {
                                        <a href="#" class="btn btn-outline-secondary btn-block btn-lg">Selected</a>
                                    }
                                    else
                                    {
                                        <a asp-route-id="1" asp-controller="Home" asp-action="Details" class="btn btn-secondary btn-block btn-lg">Use This Rate</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header bg-info text-center p-3">
                                    <h4 class="mb-0 text-white"> Default Rate</h4>
                                </div>
                                <div class="card-body text-center">
                                    <h1 class="mb-1">@Model.defaultAdr</h1>
                                    <p>Average Daily Rate</p>
                                </div>
                                <div class="card-body border-top">
                                    <ul class="list-unstyled bullet-check font-14">
                                        <li>Standard Room: 589659</li>
                                        <li>Superior Room: 743802</li>
                                        <li>Deluxe Room: 920000</li>
                                        <li>Family Room: 818182</li>
                                        <li>Suite Room: 1368595</li>
                                    </ul>
                                    @if (Model.selectedPlan == 2)
                                    {
                                        <a href="#" class="btn btn-outline-secondary btn-block btn-lg">Selected</a>
                                    }
                                    else
                                    {
                                        <a asp-route-id="2" asp-controller="Home" asp-action="Details" class="btn btn-secondary btn-block btn-lg">Use This Rate</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header bg-primary text-center p-3">
                                    <h4 class="mb-0 text-white">Adjusted Rate</h4>
                                </div>
                                <div class="card-body text-center">
                                    <h1 class="mb-1">0</h1>
                                    <p>Average Daily Rate</p>
                                </div>
                                <div class="card-body border-top">
                                    <ul class="list-unstyled bullet-check font-14">
                                        <li>Standard Room: </li>
                                        <li>Superior Room: </li>
                                        <li>Deluxe Room: </li>
                                        <li>Family Room: </li>
                                        <li>Suite Room: </li>
                                    </ul>
                                    @if (Model.selectedPlan == 3)
                                    {
                                        <a href="#" class="btn btn-outline-secondary btn-block btn-lg">Selected</a>
                                    }
                                    else
                                    {
                                        <a href="#" data-toggle="modal" data-target="#adjustedModal" class="btn btn-secondary btn-block btn-lg">Adjust Rate</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- details what-if tab-->
                <div class="tab-pane fade" id="pills-packages" role="tabpanel" aria-labelledby="pills-packages-tab">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="section-block">
                                <h2 class="section-title" style="font-size:20px;">What-If Analysis</h2>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Pricing Scenario</h5>
                                <div class="card-body">
                                    @await Component.InvokeAsync("WhatifModal")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end campaign tab one -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end campaign data -->
    <!-- ============================================================== -->
</div>

<div class="modal fade" id="adjustedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header MHeader">
                <h5 class="modal-title" id="exampleModalLongTitle">Set Adjusted Rate</h5>
                <button type="button" class="close MHeader-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-pane" id="networking">
                    <div class="metrics-container">
                        <form asp-controller="Home" asp-action="Details" method="post">
                            <div class="row" style="margin-top:20px;">
                                <div class="col-4">
                                    <label for="StandardRoomWI">Standard Room</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Rp</div>
                                        </div>
                                        <input asp-for="AdjStd" type="number" class="form-control" id="StandardRoomWI" min="0" placeholder="Price">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="SuperiorRoomWI">Superior Room</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Rp</div>
                                        </div>
                                        <input asp-for="AdjSpr" type="number" class="form-control" id="SuperiorRoomWI" min="0" placeholder="Price">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="DeluxeRoomWI">Deluxe Room</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Rp</div>
                                        </div>
                                        <input asp-for="AdjDlx" type="number" class="form-control" id="DeluxeRoomWI" min="0" placeholder="Price">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="FamilyRoomWI" style="margin-top:10px;">Family Room</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Rp</div>
                                        </div>
                                        <input asp-for="AdjFam" type="number" class="form-control" id="FamilyRoomWI" min="0" placeholder="Price">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="SuiteRoomWI" style="margin-top:10px;">Suite Room</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Rp</div>
                                        </div>
                                        <input asp-for="AdjSuite" type="number" class="form-control" id="SuiteRoomWI" min="0" placeholder="Price">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="border:none; margin-top:20px;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>